<template>
  <div class="title">
    <h1>{{ title }}</h1>
  </div>
</template>

<script>
export default {
  name: 'TheTitle',

  props: {
    title: {
      type: String,
      required: true
    }
  }
}
</script>

<style>
.title {
  font-size: 24px;
  font-family: 'Raleway', sans-serif;
}

h1 {
  margin: 1rem 0;
}

@media only screen and (max-width: 812px) {
  .title {
    text-align: center;
    font-size: 20px;
  }
}
</style>