<template>
  <div class="social-media-contact">
    <div class="contact-details">
      <a
        :href="account.github"
        target="_blank"
      >
        <FontAwesome
          :icon="['fab', 'github']"
          size="lg"
        />
      </a>
    </div>
    <div class="contact-details">
      <a
        :href="account.linkedin"
        target="_blank"
      >
        <FontAwesome
          :icon="['fab', 'linkedin']"
          size="lg"
        />
      </a>
    </div>
    <div class="contact-details">
      <a
        :href="account.email"
        target="_blank"
      >
        <FontAwesome
          :icon="['fab', 'google']"
          size="lg"
        />
      </a>
    </div>
    <div class="contact-details">
      <a 
        :href="account.cvAddress"
        target="_blank"
      >
        <FontAwesome
          :icon="['fab', 'google-drive']"
          size="lg"
        />
      </a>
    </div>
    <div class="contact-details">
      <a
        :href="account.dev"
        target="_blank"
      >
        <FontAwesome
          :icon="['fab', 'dev']"
          size="lg"
        />
      </a>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      account: {
        github: process.env.VUE_APP_GITHUB_ACCOUNT,
        linkedin: process.env.VUE_APP_LINKEDIN_ACCOUNT,
        email: process.env.VUE_APP_EMAIL_ACCOUNT,
        cvAddress: process.env.VUE_APP_CV_ADDRESS,
        twitter: process.env.VUE_APP_TWITTER_ACCOUNT,
        dev: process.env.VUE_APP_DEV_ACCOUNT,
      }
    }
  }
}
</script>

<style scoped>
.social-media-contact {
  display: flex;
  margin: 1rem auto;
  justify-content: center;
  align-items: center;
}

.contact-details {
  margin: 1rem;
}

a {
  color: black;
}

@media only screen and (max-width: 812px) {
  .social-media-contact {
    width: 50%;
  }
  
  .contact-details {
    margin: 0 0.75rem;
  }
}
</style>