<template>
  <div class="the-image">
    <img :src="src" alt="yurichandra-image" />
  </div>
</template>

<script>
export default {
  name: 'TheImage',

  data () {
    return {
      size: 's=135',
    }
  },

  computed: {
    src () {
      return process.env.VUE_APP_IMAGE_URL + '?' + this.size
    }
  }
}
</script>

<style>
img {
  border-radius: 5px;
}

@media only screen and (max-width: 812px) {
  .the-image {
    width: 30%;
    margin: 0 auto;
  }

  img {
    width: 100%;
  }
}
</style>