<template>
  <div id="app">
    <div class="wrapper">
      <section>
        <div class="image">
          <TheImage />
        </div>
        <div class="info">
          <TheTitle :title="title" />
          <div class="account">@yurichandraa</div>
          <div class="intro">
            Hello, my name is <b>Yuri</b>. I write code, mostly write in PHP, Javascript and sometimes Go.
            Learning more about backend stuff. I do watch football too. I support the most thrilling club in the world, Arsenal.
          </div>
        </div>
      </section>
      <div class="contact">
        <SocialMediaContact />
      </div>
    </div>
  </div>
</template>

<script>
import TheImage from './components/TheImage'
import TheTitle from './components/TheTitle'
import SocialMediaContact from './components/SocialMediaContact'

export default {
  name: 'app',

  components: {
    TheImage,
    TheTitle,
    SocialMediaContact
  },

  data () {
    return {
      title: 'Yuri Chandra Tri Putra'
    }
  }
}
</script>

<style>
body {
  width: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 10rem;
  padding: 1rem;
}

section {
  display: flex;
  width: 60%;
  margin: 0 auto;
}

section .account {
  font-family: Roboto, sans-serif;
}

section .image {
  margin: 1.5rem 0;
}

section .info {
  margin-left: 2rem;
}

section .info .intro {
  margin-top: 1rem;
  line-height: 1.75rem;
  word-spacing: 0.1rem;
  text-align: justify;
  font-family: Raleway, sans-serif;
}

@media only screen and (max-width: 812px) {
  .wrapper {
    width: 100%;
    margin: 3rem 0 0 0;
    padding: 0;
  }

  section {
    flex-direction: column;
    margin: 0;
    width: 100%;
  }

  section .image {
    margin-top: 1.5rem;
    margin-bottom: 0;
  }

  section .info {
    margin: 0;
    padding: 1rem;
    text-align: justify;
    font-size: 14px;
  }

  section .info .account {
    text-align: center;
    font-size: 18px;
  }
}
</style>
